-#%section.bordered
  .white-background
    .wrapper
      .section-title
        %h2 Отзывы наших клиентов

      .review-block
        .avatar
          %img{src: '/images/avatar1.jpg'}

        .content
          .name
            Александр Петраков, генеральный директор компании "Чайхона  №1"
          .text
            Так будут оформлены отзывы в текстовом виде, если они у вас есть. А если отзывов в текстовом виде у вас нету,
            то мы их вам напишем. Так будут оформлены отзывы в текстовом виде, если они у вас есть.
            А если отзывов в текстовом виде у вас нету, то мы их вам напишем.

      .line
      .review-block
        .avatar
          %img{src: '/images/avatar1.jpg'}

        .content
          .name
            Александр Петраков
          .text
            Так будут оформлены отзывы в текстовом виде, если они у вас есть. А если отзывов в текстовом виде у вас нету,
            то мы их вам напишем. Так будут оформлены отзывы в текстовом виде, если они у вас есть.
            А если отзывов в текстовом виде у вас нету, то мы их вам напишем.

      .line
      .review-block
        .avatar
          %img{src: '/images/avatar1.jpg'}

        .content
          .name
            Александр Петраков
          .text
            Так будут оформлены отзывы в текстовом виде, если они у вас есть. А если отзывов в текстовом виде у вас нету,
            то мы их вам напишем. Так будут оформлены отзывы в текстовом виде, если они у вас есть.
            А если отзывов в текстовом виде у вас нету, то мы их вам напишем.

      .line
      .review-block
        .avatar
          %img{src: '/images/avatar1.jpg'}

        .content
          .name
            Александр Петраков
          .text
            Так будут оформлены отзывы в текстовом виде, если они у вас есть. А если отзывов в текстовом виде у вас нету,
            то мы их вам напишем. Так будут оформлены отзывы в текстовом виде, если они у вас есть.
            А если отзывов в текстовом виде у вас нету, то мы их вам напишем.