%section.bordered
  .white-background
    .wrapper
      .section-title
        %h2 Наша команда

      .team-wrapper
        .team-member
          .avatar
            %img{src: '/images/team/1.jpg'}
          .name
            Тюников Михаил
          .about
            В 2007 году с отличием закончил архитектурное отделение Мытищинского филиала
            Московского государственного строительного университета.
            С 2006 по 2007 работал художником - декоратором в частной компании.
            С 2007 по 2011 работал в компании "Олимп-2" (металлоконструкции и художественная ковка, г. Санкт-Петербург)
            в должности главного дизайнера. В 2011 году пришел в компанию Arttraffic на должность креативного директора,
            где и работает по сей день.

        .team-member
          .avatar
            %img{src: '/images/team/2.jpg'}
          .name
            Ильина Евгения
          .about
            Художник, дизайнер. Окончила художественную школу.
            С 2003 по 2005г проходила курс живописи и рисунка с членом Российского Союза художников Ермолаевой Л.П.
            В 2005г поступила в Московский Государственный Университет Дизайна и Технологии на специальность "дизайн"
            и успешно его окончила в 2011 году.
            С 2008 по 2009 годы работала художником-декоратором, а позже художником-реставратором в частной компании.
            В 2009 году  пришла в компанию Arttraffic в должности художника-декоратора.
            В 2013 вступила в должность главного дизайнера Arttraffic и является им по настоящее время.

        .team-member.last
          .avatar
            %img{src: '/images/team/3.jpg'}
          .name
            Иванычева Евгения
          .about
            Художник, дизайнер-декоратор.
            В 2005 году с отличием окончила Казанское художественное училице по специальности живописец-педагог. В  2010 году - Московский Государственный Академический Художественный Институт им. В.И. Сурикова, живописное отделение. С 2006  по  2007 год работала художником-декоратором в частной компании. В  2007 году основала компанию Arttraffic. В 2012 году окончила курсы HORECA design в Politecnico di Milano, в 2013 – Interior Design. Module Two в Chelsea College of arts, London.
