.form.first-form
  .wrapper
    .title
      %h1.black-opacity-background{style: 'color: #fff; line-height: 1.5;'}
        Декор интерьеров в Москве
        %br
        8 (495) 220 00 74
        .very-small
          Работаем с 10:00 до 21:00


    .button.centered.order-call{style: 'margin-top: 150px;'}
      Заказать звонок


%section
  .offer-row
    .wrapper
      %h3.white
        Оставьте заявку прямо сейчас и получите бесплатную консультацию
        .small
          по декорированию вашего интерьера
  .form-row
    .wrapper
      %input{type: :text, name: :username, placeholder: 'Введите ваше имя'}
      %input{type: :text, name: :phone, placeholder: 'Введите ваше номер телефона'}
      %button.send-order
        Отправить заявку


%section
  .white-background
    .wrapper
      .section-title
        %h2 В каком случае вам нужны наши услуги?

      .blocks
        .block
          .name
            Для себя
          .text
            Вы счастливый обладатель квартиры с ремонтом. Вы хотите изменить наскучивший интерьер, но не хотите делать ремонт.
        .block
          .name
            Вы купили квартиру
          .text
            Вы заказали дизайн-проект,
            но в нем присутствуют не только строительные, отделочные, но и художественные работы
        .block.last
          .name
            Вы снимаете квартиру
          .text
            Кардинальные перемены не актуальны, но все же хочется что-то поменять и добавить уюта

        .block.big
          .name
            ВЫ ДИЗАЙНЕР ИЛИ АРХИТЕКТОР
          .text
            Вы занимаетесь дизайном интерьеров и в Ваших проектах есть элементы художественной отделки.
            Вы устали обучать строителей и не хотите головной боли по-поводу качества и сроков выполняемых работ

        .block.big.last
          .name
            ВЫ СТРОИТЕ РЕСТОРАН, МАГАЗИН ИЛИ ОТЕЛЬ
          .text
            Мы можем предложить Вам все виды декоративных штукатурок и росписи, а также разработать новые специально для Вашего проекта


%section.bordered
  .white-background
    .wrapper
      .section-title
        %h2 Что мы делаем?

      .works
        .work
          .slides
            .slides-block
              #slides
                %img{src: 'images/samples/1/2.jpg', width: 500}
                %img{src: 'images/samples/1/1.jpg', width: 500}
                %img{src: 'images/samples/1/3.jpg', width: 500}
                %img{src: 'images/samples/1/4.jpg', width: 500}
                %img{src: 'images/samples/1/5.jpg', width: 500}
                .slide-next.slidesjs-next.slidesjs-navigation
                .slide-prev.slidesjs-previous.slidesjs-navigation
          .content
            .name
              Роспись стен и потолков
            .about
              Чтобы отойти от наскучивших стандартных белых потолков и стен с обоями, мы предлагаем Вам альтернативный
              вариант преображения внутреннего пространства – роспись.
              На потолке и стенах может быть воплощена любая Ваша идея, начиная от копии
              Сикстинской капеллы и заканчивая ультрасовременным орнаментом.

            .button.order-call{style: 'position: absolute; bottom: 5px; left: 0px'}
              Узнать подробнее

        .line
        .work.even
          .slides.right
            .slides-block
              #slides2
                %img{src: 'images/samples/5/2.jpg', width: 500}
                %img{src: 'images/samples/5/1.jpg', width: 500}
                %img{src: 'images/samples/5/3.jpg', width: 500}
                %img{src: 'images/samples/5/4.jpg', width: 500}
                .slide-next.slidesjs-next.slidesjs-navigation
                .slide-prev.slidesjs-previous.slidesjs-navigation
          .content
            .name
              Роспись пола
            .about
              Напольное покрытие может стать настоящим арт-объектом, центром, привлекающим внимание,
              настоящим произведением искусства с помощью росписи и декоративной окраски!
              Старые полы обретут новую жизнь, а новые-индивидуальность.

            .button.order-call{style: 'position: absolute; bottom: 5px; left: 0px'}
              Узнать подробнее

        .line
        .work
          .slides.right
            .slides-block
              #slides2
                %img{src: 'images/samples/4/2.jpg', width: 500}
                %img{src: 'images/samples/4/1.jpg', width: 500}
                %img{src: 'images/samples/4/3.jpg', width: 500}
                .slide-next.slidesjs-next.slidesjs-navigation
                .slide-prev.slidesjs-previous.slidesjs-navigation
          .content
            .name
              Роспись мебели
            .about
              Мебель из магазина ставит нас в определённые рамки при выборе дизайна интерьера.
              Чтобы ничем себя не ограничивать , можно стилизовать уже имееющуюся мебель
              под Ваш индивидуальный интерьер с помощью росписи и декоративной окраски.
              Вдохнуть новую жизнь в старую мебель или исправить недостатки новой стало совсем просто!

            .button.order-call{style: 'position: absolute; bottom: 5px; left: 0px'}
              Узнать подробнее

        .line
        .work.even
          .slides.right
            .slides-block
              #slides2
                %img{src: 'images/samples/2/2.jpg', width: 500}
                %img{src: 'images/samples/2/1.jpg', width: 500}
                %img{src: 'images/samples/2/3.jpg', width: 500}
                %img{src: 'images/samples/2/4.jpg', width: 500}
                %img{src: 'images/samples/2/5.jpg', width: 500}
                .slide-next.slidesjs-next.slidesjs-navigation
                .slide-prev.slidesjs-previous.slidesjs-navigation
          .content
            .name
              Имитации
            .about
              Имитации – это, прежде всего,  экономия Ваших ресурсов, как временных, так и материальных.
              Ведь так сложно найти металлическую функциональную мебель  или керамические глазурованные панели для стен.
              Это решаемая проблема! Мы превратим МДФ и дерево в любой металл, а полиуретан в керамику и лепнину,
              с лёгкостью создадим имитацию гравировки, бетона и камня!

            .button.order-call{style: 'position: absolute; bottom: 5px; left: 0px'}
              Узнать подробнее

        .line
        .work
          .slides.right
            .slides-block
              #slides3
                %img{src: 'images/samples/3/2.jpg', width: 500}
                %img{src: 'images/samples/3/1.jpg', width: 500}
                %img{src: 'images/samples/3/3.jpg', width: 500}
                .slide-next.slidesjs-next.slidesjs-navigation
                .slide-prev.slidesjs-previous.slidesjs-navigation

          .content
            .name
              Витражи
            .about
              Витражи способны подарить настроение и камерность  помещению, наполнить пространство расцвеченным светом.
              Мы изготавливаем витражи в различных техниках: тиффани, модерн, ар-деко, классика, хай-тек.
            .button.order-call{style: 'position: absolute; bottom: 5px; left: 0px'}
              Узнать подробнее

        .line
        .work.last.even
          .slides.right
            .slides-block
              #slides4
                %img{src: 'images/samples/6/1.jpg', width: 500}
                %img{src: 'images/samples/6/2.jpg', width: 500}
                %img{src: 'images/samples/6/3.jpg', width: 500}
                .slide-next.slidesjs-next.slidesjs-navigation
                .slide-prev.slidesjs-previous.slidesjs-navigation
          .content
            .name
              Фактуры
            .about
              Фактуры  и декоративные штукатурки усложняют общую картину  интерьера и придают
              атмосферность декорируемому помещению, дарят уют и радуют собой не только визуально,
              но и тактильно. Мы сможем грамотно подобрать и изготовить фактуру для любых поверхностей -  от пола до потолка!

            .button.order-call{style: 'position: absolute; bottom: 5px; left: 0px'}
              Узнать подробнее


%section
  .offer-row
    .wrapper
      %h3.white
        Не знаете какая из наших услуг нужна именно в вашем случае?
        .small
          Оставьте заявку и наш дизайнер подробно вас проконсультирует.
  .form-row
    .wrapper
      %input{type: :text, name: :username, placeholder: 'Введите ваше имя'}
      %input{type: :text, name: :phone, placeholder: 'Введите ваше номер телефона'}
      %button.send-order
        Отправить заявку



%section.bordered
  .white-background
    .wrapper
      .section-title
        %h2 Как мы работаем

      .work-schema
        .stage
          .stage-number
            1
          .stage-desc
            Вы звоните нам или оставляете заявку и специалист связывается с Вами

        .stage
          .stage-number
            2
          .stage-desc
            Мы обговариваем с Вами все детали, рассчитываем стоимость работы

        .stage
          .stage-number
            3
          .stage-desc
            Заключаем договор и вы вносите 70% предоплаты

        .stage
          .stage-number
            4
          .stage-desc
            В зависимости от задачи мы рисуем эскизы или изготавливаем образцы и утверждаем их с Вами

        .stage
          .stage-number
            5
          .stage-desc
            По утвержденным эскизам и образцам наши мастера проводят работу на Вашем объекте

        .stage
          .stage-number
            6
          .stage-desc
            По завершении работ вы оплачиваете оставшиеся 30%


= haml :_team
= haml :masters
= haml :_clients





%section
  .offer-row
    .wrapper
      %h3.white
        Хотите встретиться с нашим дизайнером лично и обсудить ваш проект?
        .small
          Оставьте заявку, мы с вами свяжемся и договоримся об удобном для встречи времени.
  .form-row
    .wrapper
      %input{type: :text, name: :username, placeholder: 'Введите ваше имя'}
      %input{type: :text, name: :phone, placeholder: 'Введите ваше номер телефона'}
      %button.send-order
        Отправить заявку

%section
  .white-background
    .wrapper
      .section-title
        %h2
          Как нас найти?
          .small
            Мы находимся по адресу улица Ольховская, дом 15, офис 2

  #map{style: 'width: 100%; height: 550px'}

