%section.bordered
  .white-background
    .wrapper
      .section-title
        %h2 Наши мастера

      .masters
        .master
          %img{src: '/images/masters/3.jpg'}
        .master
          %img{src: '/images/masters/4.jpg'}
        .master.last
          %img{src: '/images/masters/5.jpg'}

        .master
          %img{src: '/images/masters/1.jpg'}

        .master.last
          %img{src: '/images/masters/2.jpg'}

        .master
          %img{src: '/images/masters/6.jpg'}
        .master
          %img{src: '/images/masters/7.jpg'}
        .master.last
          %img{src: '/images/masters/9.jpg'}

